/*header*/
p ul li {
    background-image: url(https://github.com/becodeorg/CRL-Keller-4/raw/main/1.The-Field/04.HTML-CSS/assets/bien.png);
}


blockquote q {
    font-style: italic;
}

blockquote {
    margin: 80px 25%;
    padding: 3px 30px;

    font-size: 25.6px;
    background-color: rgb(105, 100, 100);

    border-left: 3px solid firebrick;
}
header h1 {
    background-color: yellow;
}
q .good {
    color: green;
}

/*body*/

body {
    
    /*background: linear-gradient(180deg, rgba(58,97,128,1) 23%, rgba(0,100,255,1) 49%, rgba(55,0,255,1) 64%, rgba(140,0,255,1) 88%);*/
    background-image: url(https://images.unsplash.com/photo-1614157606535-2f3990b919a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: auto;
    max-width: 90%;
}

/*list*/

.up {
    background-image: url(./img/up.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 250px;
}
.down {
    background-image: url(./img/down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 250px;
}
.cat {
    background-image: url(./img/cat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 250px;
}

/* paragraph */

p:first-of-type {
    font-weight: bold;
}

p q {
    font-style: italic;
}

p {
	font-size: 15px;
	font-family: serif;
	color: darkblue;
    letter-spacing: 0.5px;
}

/* Links */

a {
    font-size: normal;
    font-family: 'Times New Roman', Times, serif;
    color: springgreen;
}
a:hover {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: seagreen;
}
a:visited {
    font-size: normal;
    font-family: 'Times New Roman', Times, serif;
    color: lime;
}
a:visited:hover {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: seagreen;
}

/* Figure */ 

.villagers {
    border-left: 3px solid blueviolet;
}
.farmer {
    border-left: 3px solid green;
}
.green {
    color: green;
    text-transform: capitalize;
    font-style: normal;
}
.red {
    color: red;
    text-transform: capitalize;
    font-style: normal;
}
.greenq{
    color: green;
    text-transform: capitalize;
    font-style: italic;
}
.redq{
    color: red;
    text-transform: capitalize;
    font-style: italic;
}

/*Table*/

tr:nth-child(odd){
    background-color: grey ;
}
tr:nth-child(even) {
    background-color: white;
}
thead tr th{
    background-color: white;
}
tfoot td {
    background-color: white;
}

/*image*/

.img-1 {
    float: right;
    position: relative;
    top: -120px;
    left: auto;
    margin: 10px;
    width: 250px;
    height: 200px;
}
.img-2 {
    float: right;
    position: relative;
    top: auto;
    left: auto;
    margin: 10px;
  }
.img-3 {
    float: left;
    position: relative;
    top: auto;
    left: -30px;
    margin: 10px;